

{#<form action="" method="post">
    <div class="field">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" value="<?php echo escape($user->data()->name);?>">
        <input type="submit" value="Update">
        <input type="hidden" value="<?php echo Token::generate();?>" name="token">
    </div>
</form>#}

{% extends 'loggedin.html.twig' %}
{% block body %}
    <div class="container edit ">
        {{ form_start(form) }}
        {{ form_row(form.email) }}
        {{ form_row(form.first_name) }}
        {{ form_row(form.last_name) }}
        {{ form_row(form.date_of_birth) }}
        {{ form_row(form.year_of_study) }}
        {{ form_row(form.semestar) }}
        <button type="submit" class="btn btn-primary">Update</button>
        <br>
        <a href="{{ path('user_first') }}">Go back</a>
    </div>


    {{ form_end(form) }}
{% endblock body %}