{% extends 'base.html.twig' %}
{% block body %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

    {#<form action="{{ path('login_check') }}" method="post">
        <div class="container">
            <label for="username">Username:</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}" />
        </div>

        <div class="container">
            <label for="password">Password:</label>
            <input type="password" id="password" name="_password" />
            <!--<input type="hidden" name="_target_path" value="/account/#}{#}{#{{last_username}}#}{#" />-->
            <input type="hidden" name="_target_path" value="/account" />
        </div>

        #}{#
            If you want to control the URL the user
            is redirected to on success (more details below)
            <input type="hidden" name="_target_path" value="/account" />
        #}{#
        <div class="container">

        <button type="submit" name="login" class="btn-success">login</button>
        </div>
    </form>#}

<div class="container forma" >
    <form action="{{ path('login_check') }}" method="post">
        <div class="form-group">
            <label for="username">Username </label>
            <input type="text" class="form-control" placeholder="Username" id="username" name="_username" value="{{ last_username }}" />
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" class="form-control" placeholder="Password" id="password" name="_password" />
            <input type="hidden" name="_target_path" value="/account" />
        </div>
        <div class="form-group">
            <label for="remember_me">Keep me logged in</label>
            <input  type="checkbox" id="remember_me" name="_remember_me" checked />
        </div>
        <button type="submit" name="Login" class="btn btn-default">Login</button>
    </form>
</div>
{% endblock body %}