{% extends 'base.html.twig' %}
{% block body %}
    <div class="container forma">
{{ form_start(form) }}
    {{ form_row(form.username) }}
    {{ form_row(form.email) }}
    {{ form_row(form.plainPassword.first) }}
    {{ form_row(form.plainPassword.second) }}
        <button type="submit" class="btn btn-success">Register!</button>
    </div>


{{ form_end(form) }}
{% endblock body %}